@import "../01-config/variables";

.instructions-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;

    .instructions-title {
        text-align: center;
        text-decoration: underline;
        font-size: 1.2rem;
    }

    .instructions-list {
        counter-reset: list-number;
        margin-bottom: 40px;

        li {
            position: relative;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: 10px;
            line-height: 1.5rem;
        }

        li:before {
            position: absolute;
            counter-increment: list-number;
            content: counter(list-number);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            left: -60px;
            width: 35px;
            height: 35px;
            font-size: 1rem;
            background-color: $pink;
            border-radius: 50%;
            color: #fff;
            font-weight: 700;
        }
    }
}
