@import "../01-config/variables";

.scoreboard {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 1.1rem;
    max-width: 880px;

    .current-score-container,
    .best-score-container {
        margin: 20px;
    }

    .current-score-title,
    .best-score-title {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 350px) {
    .scoreboard {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;

        .current-score-container,
        .best-score-container {
            margin: 10px;
        }
    }
}
